<div class="jumbotron p-5 mb-4 border-bottom">
  <div class="container-fluid text-center mx-auto px-auto ">
    <h1 class="display-5 fw-bold">Welcome To Beta Blog</h1>
  </div>
</div>
<div class="container">
  <table>
    <thead>
      <th>
        <%= link_to 'List Articles', articles_path ,:class => "btn btn-info"%>
      </th>
      <th>
        <%= link_to 'About', about_path ,:class => "btn btn-success"%>
      </th>
    </thead>
  </table>
</div>
