<div class="jumbotron p-5 mb-4 border-bottom">
  <div class="container-fluid py-5 text-center mx-auto px-auto ">
    <h1 class="display-5 fw-bold">Beta Blog</h1>
    <p class="p-jumbo">welcome to the ruby blog</p>
  </div>
</div>
<div class="container">
  <table>
    <thead>
      <th>
        <%= link_to 'List Articles', articles_path ,:class => "btn btn-info"%>
      </th>
      <th>
        <%= link_to 'About', about_path ,:class => "btn btn-success"%>
      </th>
    </thead>
  </table>
</div>
<div class="d-flex flex-column" id="page-content">
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Beta Blog</small>
  </div>
</footer>
