<h1>This is home page</h1>
<table>
  <thead>
    <th>
      <p><%= link_to 'List Articles', articles_path%></p>
    </th>
    <th>
      <%= link_to 'List Articles', about_path%></p>
  </tr>
</thead>
</table>
