<div class="jumbotron">
  <div class="container">
    <h1>Test</h1>
  </div>
</div>
<div class="container">
  <table>
    <thead>
      <th>
        <%= link_to 'List Articles', articles_path ,:class => "btn btn-info"%>
      </th>
      <th>
        <%= link_to 'About', about_path ,:class => "btn btn-success"%>
      </th>
    </thead>
  </table>
</div>
