<h1>This is home page</h1>
<table>
  <thead>
    <th>
      <%= link_to 'List Articles', articles_path ,:class => "btn btn-primary"%>
    </th>
    <th>
      <%= link_to 'About', about_path%>
    </tr>
  </thead>
</table>
