<div class="jumbotron p-5 mb-4 border-bottom">
  <div class="container-fluid text-center">
    <h1 class="display-5 fw-bold">Beta Blog</h1>
    <p class="p-jumbo">welcome to the ruby blog</p>
  </div>
</div>
<div class="container">
</div>
<div id="page-content">
</div>
<script type="text/javascript">
  console.log("Hello world!");
</script>
