<% if logged_in? %>
  <div class="container mt-2">
    <h1 class="text-center mt-2">Update A New Article</h1>
    <%= render 'form'%>
  </div>
<% elsif%>
  <h1 class="text-center mt-5 mb-5">404 Page Not Found</h1>
<% end %>
