<p style="color: green"><%= notice %></p>
<h1>Articles</h1>
<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>
<%= link_to "New article", new_article_path %>
<table>
  <% @article.each do |article| %>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Some Title</td>
        <td>Some Description</td>
        <td>PlaceHolder</td>
      </tr>
    </tbody>
  </table>
