<h1>Show Article Details</h1>
<p><strong>Title: </strong><%=@articles.title%></p>
<p><strong>Description: </strong><%=@articles.description%></p>
<p><%= link_to "Back to Article List", articles_path%></p>
