<% flash.each do |name,msg| %>
  <div id="alert-success"class="alert alert-success alert-dismissible fade show mt-3 animate__animated animate__fadeInDown" role="alert">
    <div class="text-center"><%= msg%></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
