<% if @article.errors.any?%>
  <div class="alert alert-danger alert-dismissible fade show animate__animated animate__shakeX mt-2 mb-2" role="alert">
    <div class="alert-heading">
      <h4>The following erros prevented the article from being saved</h4>
    </div>
    <ul>
      <% @article.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
