    <% if @article.errors.any?%>
  <h2 >The following erros prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg|%>
      <p style="color:black"><%= msg %></p>
    <% end %>
  </ul>
<% end %>
